In [1]:
# Quiz One: Using slicing & indexing, print the third item on the list

steps_to_become_a_house_owner = ['save money', 'search for a land', 'purchase a land', 'build a house']

In [2]:
steps_to_become_a_house_owner[2]

'purchase a land'

In [3]:
# Quiz Two: Answer the below questions
#           1. Print the data type of the variable defined below
#           2. Processes the first three processes provided in the iterable

data_engineering_processes = ('Extraction', 'Transformation', 'Loading', 'Orchestration', 'Logging', 'Monitoring')

In [4]:
type(data_engineering_processes)

tuple

In [28]:
print(data_engineering_processes[0:3])

('Extraction', 'Transformation', 'Loading')

In [ ]:
#input in python
#ex: ask 2 questions name n fav color and then print a message like "mosh likes blue"

In [16]:
name = input('what is your name? ' )
print('hi' +  name)

what is your name?   sasha

hi sasha

In [20]:
name = input('what is your name?')
favorite_color = input('what is your favorite color?')
print(name + 'likes' + favorite_color)

what is your name? sasha
what is your favorite color?  black

sasha likes black

In [ ]:
#type conversion
#ex: convert the input birth year to an interger
#ex2: ask a user their weight in pounds and convert it to kilograms and print on the terminal

In [22]:
birth_year = input('birth year: ')
print(type(birth_year))
age = 2024 - int(birth_year)
print(type(age))
print(age)

birth year:  1999

<class 'str'>
<class 'int'>
25

In [26]:
weight_in_pds = input('what is your weight in pounds: ')
weight_in_kgs = int(weight_in_pds) * 0.45
print(weight_in_kgs)

what is your weight in pounds:  120

54.0

In [ ]:
#strings 
#defining a string
#formated strings: prefix the strings and add curly braces

In [35]:
name = 'jennifer'
print(name[:])
print(name[1:-1])

jennifer
ennife

In [39]:
fist = 'sasha'
last = 'aysha'
message = f'{fist} + [{last}] + is a data scientist'
print(message)

sasha + [aysha] + is a data scientist

In [45]:
course = 'hello world'
print(len(course)) # count number of characters
print(course.upper()) #converting to upper case
print(course.lower()) #converting to lower case
print(course.find('w')) # produces the index
print(course.replace('w', 'j')) #replace a word or letter
print('hello' in course)  #gives true or false if character is found or not

11
HELLO WORLD
hello world
6
hello jorld
True

In [47]:
#arithmetic operators
print(10 +3) #addition
print(10 * 3)  # multiplication
print(10 / 3) # dision gives float
print(10 //3)  #gives integer
print(10 % 3) #mod (remainder) 
print(10 ** 3) #exponent(power)
x = 10
x += 3 #same as x = x+3 known as augmented assignment operator(can use with other operators)
print(x)

#operator precedence
    #parenthesis
    #exponent
    #multiplication or division
    #additionor subtraction

13
30
3.3333333333333335
3
1
1000
13

In [48]:
#math functions
import math   # brings in the math module which has many functions eg;

print(math.ceil(2.9))   #gives the top most integer
print(math.floor(2.9))   #gives the bottom integer in that number
#can find all the other fxns on google

3
2

In [ ]:
#if statements
#ex: write a program with the following rules 
#price of house is $1m
#if a buyer has good credit, they need to put down 10% otherwise they need to put down 20% and  then print the down payment required

In [63]:
price = 1000000
has_good_credit = False 

if has_good_credit:
    down_payment = 0.1 * price
else:
    down_payment = 0.2 * price
    print(f' down payment is ${int(down_payment)}')

credit is good
 down payment is $200000

In [ ]:
#logical operators for 2 or more conditions 
    #AND - BOTH CONDITIONS ARE TRUE
    #OR - ATLEAST ONE CONDITION IS TRUE
    #NOT- THE CONDITION IS NOT TRUE

In [65]:
#comparasion operators
# < , >, ==, <=,>=, != (not equal)

#ex: write a program for 
#if name is less than 3 characters long 
#name must be atleast 3 characters 
#otherwise if it is more than 50 characters long 
#name can be a maximun of 50characters 
#otherwise name looks good


name = 'sasha'
if len(name) < 3:
    print('name must be atleast 3 characters')
elif len(name) > 50:
    print('name can be a maximun of 50characters')
else:
    print('name looks good')

name looks good

In [68]:
#while loops execute a block of code multiple times eg games 

i = 1
while i <= 5:
    print(i)
    i= i + 1
print('done')

1
2
3
4
5
done

In [76]:
#for loops to iterate over items of a collection eg string

for item in 'python':
    print(item)
    
for item in range (5, 10, 1):    #the last number is what is added to the first number and the middle number is the limit
    print(item)

p
y
t
h
o
n
5
6
7
8
9

In [78]:
#ex: write a program to calculate the total price of al the items in the shopping cart


prices = [10, 20, 30]

total = 0
for price in prices:
    total += price
print(f'total: {total}')

total: 60

In [2]:
# Question 1: Kareem compiled a list of database properties but thinks he included a wrong item at the end of the list
#             Using an if statement:
#               1. check the number of items in the list
#               2. if the length of the list exceeds four:
#                      a. create a new list with the right items 
#                      b. obtain the last item in the list
#                      c. print the new list and the last item
#               3. if the list does not exceed four items, print Kareem's list as is

database_properties = ['Atomicity', 'Consistency', 'Isolation', 'Durability', 'Wrong Item']

list_length = len(database_properties)
if list_length > 4:
    new_list = database_properties[0:4]
    print(new_list)
    print(new_list[3])
else:
    print(database_properties)

['Atomicity', 'Consistency', 'Isolation', 'Durability']
Durability

In [3]:
# Quiz Four: Create an if statement using the same instructions in Question 1 above for the list defined below

database_properties = ['Atomicity', 'Consistency', 'Isolation', 'Durability']

list_length = len(database_properties)
if list_length > 4:
    new_list = database_properties[0:4]
    print(new_list)
    print(new_list[3])
else:
    print(database_properties)

['Atomicity', 'Consistency', 'Isolation', 'Durability']

In [4]:
# Quiz Five: Write an if statement that checks if the variable below is in the shopper's list

item_to_check = 'EGGS'
shoppers_list = ['eggs', 'potatoes', 'garlic', 'blackberries']

if item_to_check in shoppers_list:
    print(item_to_check) 
else:
    print('not in list')

not in list

In [13]:
# Question: A firm wants to award its employees.
#           An employee can be considered staff of the month only if they satisfy the below conditions:
#               1. The employee has been in the company for over 3 years
#               2. The employee has completed their yearly KPI
#           Write a conditional statement to determine if Kevin can be awarded staff of the month

name = 'kevin'
years_in_office_over_3years = True
employee_has_completed_their_yearly_KPI = True

if years_in_office_over_3years and employee_has_completed_their_yearly_KPI:
    print(name + 'is eligible for award')
else:
    print('not eligible')

kevinis eligible for award

In [14]:
#nested loops
for x in range(4):
    for y in range(3):
        print(f'({x}, {y})')

(0, 0)
(0, 1)
(0, 2)
(1, 0)
(1, 1)
(1, 2)
(2, 0)
(2, 1)
(2, 2)
(3, 0)
(3, 1)
(3, 2)

In [17]:
#challenge draw f with xs using nested for loop
numbers = [2, 2, 2, 2, 5]
for x_count in numbers:
    output = ''
    for count in range(x_count):
        output += 'x'
    print(output)

xx
xx
xx
xx
xxxxx

In [20]:
#list
#write a program to w=find the largest number in a list


numbers = [2, 4, 31, 8, 12, 23] 
max = numbers[0]
for number in numbers:
    if number > max:
        max = number
print(max)

31

In [22]:
#2d lists

matrix = [
    [1, 2, 3],
    [4, 5, 6],
    [7, 8, 9]
]
matrix[0][1] = 20
print(matrix[0][1])

20

In [23]:
matrix = [
    [1, 2, 3],
    [4, 5, 6],
    [7, 8, 9]
]
for row in matrix:
    for item in row:
        print(item)   #gets all the items in the list

1
2
3
4
5
6
7
8
9

In [26]:
# list methods

numbers = [2, 4, 31, 8, 12, 23]

numbers.append()   #add to list there are more thing like index, sort(), pop, copy, and we use in to check for the presents of an item in a list


print(numbers)

[6, 2, 4, 31, 8, 12, 23]

In [30]:
#removing duplicates 
numbers = [2, 4, 31, 4, 2, 23]
uniques = []
for number in numbers:
    if number not in uniques:
        uniques.append(number)
print(uniques)

[2, 4, 31, 23]

In [34]:
#tupples can only get info not change

numbers = (2, 4, 31, 4, 2, 23)
numbers.count()  #to count items in a tuple
numbers.index()  #to get index

TypeError: tuple.count() takes exactly one argument (0 given)

In [33]:
#unpacking(not only for tuples)
coordinates = (1, 2, 3)
x, y, z = coordinates
print(x)

1

In [42]:
#dictionaries
#create a program that translates figures to words

phone = input('phone: ')
digits_mapping = {
    "1": "One",
    "2": "Two",
    "3": "Three",
    "4": "Four"
}
output = ""
for ch in phone:
    output += digits_mapping.get(ch, "!") + " "
print(output)

phone:  12

One Two

In [44]:
#functions
def greet_user(name):
    print(f'hi {name}!')
    print('welcome abaord')
print('start')
greet_user('sasha')
greet_user('aysha')
print('finish')

start
hi sasha!
welcome abaord
hi aysha!
welcome abaord
finish

In [50]:
#keyword arguments(position dont matter)
def greet_user(first_name, last_name):
    print(f'hi {first_name}, {last_name}!')
    print('welcome abaord')


print('start')
greet_user(last_name ='sasha', first_name = 'aysha')

start
hi aysha, sasha!
welcome abaord

In [51]:
#return statement
def square(number):
    return number * number
square(3)
print(square(3))

9

#creating a reusable function

In [54]:
def emoji_converter(message):
    message.split(" ")
    words = message.split(" ")
    emojis = {
        ":)": "😊",
        ":(": "😞"  
    }
    output = ""
    for word in words:
        output += emojis.get(word, word) + " "
    return output

        
message = input(">")
print(emoji_converter(message))

> hi :)

hi 😊

In [61]:
#exceptions to handle errors arising from the code

try:
    age = int(input('Age: '))
    income = 20000
    risk = income / age
    print(age)
except ZeroDivisionError:
    print('age cannot be zero')
except ValueError:
    print('invalid value')

Age:  0

age cannot be zero

In [ ]:
#comments used for explanation in code